RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !\.(css|jpg|js|png)$
RewriteRule ^([a-zA-Z0-9/ñN-]+)$ index.php?url=$1 [L,QSA]
Options All -Indexes
ErrorDocument 404 /LunchSystem/404.php
ErrorDocument 403 /LunchSystem/403.php
#Require all denied